.ellipse_pos_top-left {
  position: absolute;
  width: 933.78px;
  height: 990.1099999999997px;
  left: -763px;
  top: -449.80999999999995px;
  mix-blend-mode: normal;
  filter: blur(117.481px);
  transform: matrix(0.48, 0.81, 1, -0.38, 0, 0);
  

  background:  conic-gradient(from 186.39deg at 26.27% 58.78%, #BBEFFF 0deg, #0066FF 97.61deg, #8000FF 223.52deg, #FF9900 262.9deg, #BBEFFF 360deg);;



}
