.navbar {
  display: flex;
  position: sticky;
  top: 16px;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  margin: 16px 40px 0;
}

.navbar__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
  transition: 0.4s;
  opacity: 1;
}

.navbar__link:hover {
  opacity: 0.7;
}

.navbar__button_type_scrolled {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  padding: 15px;
  border-radius: 25px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  max-width: 415px;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar__logo {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.005em;
  text-align: center;
  color: white;
}