.lead__button {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin: 42px auto 0;
  width: 266px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1000px;
  border: 0px;
}

.lead__button:hover {
  background: #fff;
  color: #000;
}